@model IEnumerable<PizzaExpress.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produto</h2>


    @using (Ajax.BeginForm("Index", "Produto", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistaprodutos", OnFailure = "handleError" }))
    {

        <section id="containerprocurarcliente">
            <form class="form-inline">
                
                    <h2>Produto</h2>
                    <div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="pesquisar" placeholder="Digite o nome do Produto" />
                            </div>
                        <input type="submit" class="btn" value="Buscar" />
                        </div>
                    
                       
              
                       
               
           
        </form>
           
            </section>

    }
<div>
@Html.Partial("ProcurarProduto", Model)
    </div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")



}