@model IEnumerable<PizzaExpress.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @using (Ajax.BeginForm("Index", "Produto", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistaprodutos", OnFailure = "handleError" }))
    {

        <div class="container" id="containerprocurarcliente">
            <div class="form-inline">
                <div class="row">
                    <h2>Cliente</h2>
                    <div>
                        <input type="text" maxlength="180" name="pesquisar" placeholder="Pesquisar" class="procurarbotao" />
                        <button type="submit" value="pesquisar" class="procurar">Pesquisar Cliente</button>
                    </div>
                </div>
            </div>
        </div>


    }

</div>
@Html.Partial("ProcurarProduto", Model)
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")



}