@model IEnumerable<PizzaExpress.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    @using (Ajax.BeginForm("Index", "Produto", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistaprodutos", OnFailure = "handleError" }))
    {

        <section id="containerprocurarcliente">
            <form class="form-inline">
                
                    <h2>Cliente</h2>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                            </div>
                        </div>
                       <div class="form-group">
                          
                               <input type="submit" class="btn btn-group" />
                               
                           </div>
                          
                       
              
                       
               
           
        </form>
            <input type="submit" class="btn" />
            </section>

    }
<div>
@Html.Partial("ProcurarProduto", Model)
    </div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")



}