@model IEnumerable<PizzaExpress.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produto</h2>


    @using (Ajax.BeginForm("Index", "Produto", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistaprodutos", OnFailure = "handleError" }))
    {

        <section id="containerprocurarcliente">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="pesquisar" placeholder="Digite o nome do Produto">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
           
                    
                       
              
                       
          
           
            </section>

    }
<div>
@Html.Partial("ProcurarProduto", Model)
    </div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
   
 

}
