@model  IEnumerable<PizzaExpress.Models.Cliente>


<div>
    @using (Ajax.BeginForm("Index", "Cliente", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistaclientes",OnFailure = "handleError" }))
    {
        
        <div class="container" id="containerprocurarcliente">
            

                <h2>Cliente</h2>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="pesquisar" placeholder="Digite o nome do Cliente">
                    <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Buscar</button>
                </form>
           





          
        </div>


    }

</div>
@Html.Partial("ProcurarCliente",Model)
@section scripts
{
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/ bundles / scripsdoprojeto")

    


   }
