@{
    ViewBag.Title = "Contact";
}
<address>
    <strong>Desenvolvedor: </strong><a href="mailto:igor.matheus@infouniron.com">Igor Matheus</a><br />
    <strong>Analista: </strong> <a href="mailto:gustavo.felix">Gustavo Felix</a>
</address>