@model IEnumerable<PizzaExpress.Models.Sabor>
    
<div>
    
        <div class="container" id="containerprocurarcliente">
            
            <h2>Sabor</h2>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="pesquisar" placeholder="Digite o nome do Sabor">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>







            
        </div>


    

</div>
@Html.Partial("ProcurarSabor", Model)

