@model IEnumerable<PizzaExpress.Models.Sabor>
<div>
    @using (Ajax.BeginForm("Index", "Sabor", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistasabores", OnFailure = "handleError" }))
    {
        <div class="container" id="containerprocurarcliente">
            <form class="form-inline">
                <h3>Sabor</h3>
                
                <div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="pesquisar" placeholder="Digite o nome do Sabor" />
                    </div>
                    <input type="submit" class="btn" value="Buscar" />
                </div>






            </form>
        </div>


    }

</div>
@Html.Partial("ProcurarSabor", Model)
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")



}
