@model IEnumerable<PizzaExpress.Models.Pedido>


<div>
    

        <div class="container" id="containerprocurarcliente">
            <form class="form-inline my-2 my-lg-0">

                <h2>
                    Pedido
                </h2>
               <div>
                <label class="radio-inline">
                    <input type="radio" value="Aberto" name="status">Aberto
                </label>
                <label class="radio-inline">
                    <input type="radio" value="Fechado" name="status">Fechado
                </label>
                    </div>
                <div>
                     <input class="form-control mr-sm-2" type="text" id="campopesquisar" name="pesquisar"  placeholder="Clique nesse campo para seleciona um data para pesquisar pedidos">
                   
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

                </div>






            </form>
        </div>


    

</div>

@Html.Partial("ProcurarPedido", Model)

