@model IEnumerable<PizzaExpress.Models.Pedido>
<h2>Pedido</h2>

<div>
    @using (Ajax.BeginForm("Index", "Pedido", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divlistapedidos", OnFailure = "handleError" }))
    {

        <div class="container" id="containerprocurarcliente">
            <form class="form-inline">

                <h2>Cliente</h2>
                <div>
                <label class="radio-inline">
                    <input type="radio" value="Aberto" name="status">Aberto
                </label>
                <label class="radio-inline">
                    <input type="radio" value="Fechado" name="status">Fechado
                </label>
                    </div>
                <div>
                    <input type="submit" class="btn" value="Buscar" />
                </div>






            </form>
        </div>


    }

</div>
@Html.Partial("ProcurarPedido", Model)
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")



}