

<table class="table" >
    <tr>
        <th>
            Status
        </th>

        <th>
            Preço
        </th>
        <th>
            Tamamnho
        </th>
        <th>
            Sabor 1
        </th>
        <th>
            Sabor 2
        </th>
        <th>
            Sabor 3
        </th>
        <th></th>
    </tr>
   
    <tr ng-repeat="pizza in pizzas">
        <td>
        `    {{pizza.Status}} <input name="Pizzas[{{pizzas.length - 1}}].Status" type="hidden" ng-model="pizza.Status" class="form-control">
        </td>
        <td>
            {{pizza.PrecoPizza}} <input name="Pizzas[{{pizzas.length - 1}}].PrecoPizza" type="hidden" ng-model="pizza.PrecoPizza" class="form-control">
        </td>
        <td>
            {{pizza.Tamanho}} <input name="Pizzas[{{pizzas.length - 1}}].Tamanho" type="hidden" ng-model="pizza.Tamanho" class="form-control">
        </td>
        <td>
            {{pizza.Sabor1}}
        </td>
        <td>
            {{pizza.Sabor2}}
        </td>
        <td>
            {{pizza.Sabor3}}
        </td>
        <td>
            <input type="button" value="Excluir" class="btn btn-default" ng-click="remove(item)" />
        </td>
        <td>
            <input type="hidden" name="Pizzas[{{pizzas.length - 1}}].Sabores[0].IdSabor"  ng-bind="pizza.IdSabor1 " />
            <input type="hidden" name="Pizzas[{{pizzas.length - 1}}].Sabores[1].IdSabor" ng-bind="pizza.IdSabor2 " />
            <input type="hidden" name="Pizzas[{{pizzas.length - 1}}].Sabores[2].IdSabor" ng-bind="pizza.IdSabor3 " />
        </td>
        
    </tr>


</table>