


<table class="table">
    <tr>
        <th>
            Nome 
        </th>
        <th>
            Descrição
        </th>
        <th>
            Preço
        </th>
        <th></th>
    </tr>


    <tr ng-repeat="produto in produtos">
        <td >
          {{produto.Nome}}
        </td>
        <td>
            {{produto.DescricaoProduto}}
        </td>
        <td>
           {{ produto.Preco }}
        </td>
        <td>
          
        </td>
    </tr>


</table>
